.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  margin-top: 10rem;
}

.grid div {
  transition: transform 0.5s;
  cursor: default;
}

.grid:hover div:not(:hover) {
  transform: scale(0.9);
  cursor: default;
}

@media only screen and (max-width: 40.63em) {
  .grid {
    padding: 0 3rem;
  }

  .grid div {
    text-align: center;
  }
}
