.button {
  border: none;
  background: transparent;
}

.header {
  flex: 0 35rem;
  display: flex;
  justify-content: space-between;
}

.header button {
  margin-right: 0.5rem;
  position: relative;
}

.header button:hover span {
  cursor: pointer;
  color: hsl(233, 26%, 24%);
}

.header button::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
}

.header button:hover::after {
  opacity: 1;
  bottom: -2rem;
}

@media only screen and (max-width: 40.63em) {
  .header {
    flex-direction: column;
    flex: none;
  }

  .header button {
    margin-left: 0;
    margin-bottom: 1.5rem;
  }

  .header button::after {
    display: none;
  }
}

.footer {
  display: flex;
  justify-self: stretch;
  justify-content: space-between;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: stretch;
}

.footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer button:hover span {
  color: hsl(233, 8%, 62%);
  cursor: pointer;
}

.footer span {
  color: hsl(220, 16%, 96%);
}

@media only screen and (max-width: 40.63em) {
  .footer {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    align-self: center;
  }

  .footer div {
    align-items: center;
  }
}
